<!-- <div class="nav">
  <p>Using "href"</p>
  <ul>
    <li><a href="/" (click)="onClick($event)">Home</a></li>
    <li><a href="/products" (click)="onClick($event)">Products</a></li>
    <li><a href="/about" (click)="onClick($event)">About</a></li>
  </ul>
</div>
<hr> -->
<div class="nav">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/genre">Genre API</a></li>
  </ul>
</div>
<hr>

<div *ngIf="checkForLoginValue(); else elseBlock">
  <p>Welcome {{this.employee.username}}</p>
</div>
<ng-template #elseBlock>
  <div class="login-container">
    <form #user="ngForm" (ngSubmit)="onSubmit(user.value)">
      <input type="text" name="username" placeholder="Username" ngModel required>
      <input type="password" name="passwd" placeholder="Password" ngModel required>
      <input type="submit" value="Submit">
    </form>
  </div>
</ng-template>



<hr>
<div class="page-content">
  <p>Page Content</p>
  <router-outlet></router-outlet>
</div>
