/* You can add global styles to this file, and also import other style files */
body{
  background-color: #2b2b2b;
  color: white;
  text-transform: uppercase;
  font-weight: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a {    
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #b9014e;
    color: white;
    border-radius: 4px;    
  }
  nav a.mainItem {    
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: grey;
    color: white;
    border-radius: 4px;    
  }
  
  nav a:hover {
    color: white;
    background-color:  #42545C;
  }
  nav a.active {
    background-color: black;
    color: white;
  }

  a {        
    cursor: pointer;
  }
  button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  button:hover {
    background-color: black;
    color: white;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  input[type=text], select {
    width: 12%;
    padding: 7px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
  }
  input[type=password], select {
    width: 12%;
    padding: 7px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
  }
  input[type=number], select {
    width: 12%;
    padding: 7px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
  }
  input[type=datetime], select {
    width: 12%;
    padding: 7px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
  }
  input[type=submit] {
    width: 7%;
    background-color: grey;
    color: white;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  hr.MenuSep{
    border: white solid 1px;
    margin-left: 20px;
    margin-right: 20px;
  }